body{
    background-color: #c0deed !important;
    background-image: url("../images/registration_ui.png");
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center;
    background-position-y: 20px;
}


 #submit{
    margin : auto ;
    box-shadow: 2px 2px 7px #888;
    background: #7DBDE0 !important;
    color: 	#EEEFEA !important;
    border: none;
    padding: 15px;
    font-size: 20px !important;
}



.panel{
   max-width: 300px;
   margin: 15% auto;
   box-shadow: 2px 2px 7px #888 !important;
}

.panel-heading{
    color: 	#6EA3BE !important;
}

.panel-title{
    font-size: 20px !important;
    text-shadow: 1px 1px 1px #888;
    text-transform: uppercase;
}

.panel .row {
    padding: 10px;
}

.fa{
    font-size: 25px !important;
}

.fa-key{
    font-size: 20px !important;
}


