body{
    background-color: #EEEFEA
}


 #submit{
    margin : auto ;
    box-shadow: 2px 2px 7px #888;
    background: #7DBDE0 !important;
    color: 	#EEEFEA !important;
    border: none;
}



.panel{
   max-width: 800px;
   margin: 10% auto;
   box-shadow: 2px 2px 7px #888 !important;
}

.panel-heading{
    color: 	#6EA3BE !important;
}


/*

    Nav Bar

*/

*{
    margin : 0px ;
    padding : 0px ;
}

nav{
    margin: 0;
    background: #7DBDE0 !important;
    border: none !important;
    border-radius: 0 !important;
}

a{
    color: #0375AF !important;
    font-weight: bold !important;
}

.navbar-brand{
    color: #fff !important;
}

.dropdown-menu a{
    color: #0375AF;
}

nav i{
    color: #fff;
}

.active{
    background: #0375AF !important;
    color: #7DBDE0 !important;
}

.dropdown-toggle:active, .open .dropdown-toggle {
    background-color: #0375AF !important;
    color: #7DBDE0 !important;
}

/*

    navbar-toggle edit

*/
.navbar-toggle{
    border: none !important;
}

.navbar-toggle:hover,.navbar-toggle:focus{
    background: #0375AF !important;
}